<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @globalize_test.title %>
</p>

<p>
  <b>Description:</b>
  <%= @globalize_test.description %>
</p>


<%= link_to 'Edit', edit_globalize_test_path(@globalize_test) %> |
<%= link_to 'Back', globalize_tests_path %>
